$padding: 0 1em 0 1em;

.main {
  background-color: hsl(219, 100%, 22%) !important;
}

.cyan {
  background-color: hsl(273, 44%, 26%) !important;
}

.blue {
  background-color: hsl(240, 100%, 50%) !important;
}
